<%= form_for(@team) do |f| %>
  <% if @team.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@team.errors.count, "error") %> prohibited this team from being saved:</h2>

      <ul>
      <% @team.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :division %><br />
    <%= f.text_field :division %>
  </div>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :wins %><br />
    <%= f.text_field :wins %>
  </div>
  <div class="field">
    <%= f.label :losses %><br />
    <%= f.text_field :losses %>
  </div>
  <div class="field">
    <%= f.label :ties %><br />
    <%= f.text_field :ties %>
  </div>
  <div class="field">
    <%= f.label :win_pct %><br />
    <%= f.text_field :win_pct %>
  </div>
  <div class="field">
    <%= f.label :home_record %><br />
    <%= f.text_field :home_record %>
  </div>
  <div class="field">
    <%= f.label :road_record %><br />
    <%= f.text_field :road_record %>
  </div>
  <div class="field">
    <%= f.label :division_record %><br />
    <%= f.text_field :division_record %>
  </div>
  <div class="field">
    <%= f.label :conf_record %><br />
    <%= f.text_field :conf_record %>
  </div>
  <div class="field">
    <%= f.label :points_for %><br />
    <%= f.number_field :points_for %>
  </div>
  <div class="field">
    <%= f.label :points_allowed %><br />
    <%= f.number_field :points_allowed %>
  </div>
  <div class="field">
    <%= f.label :point_diff %><br />
    <%= f.text_field :point_diff %>
  </div>
  <div class="field">
    <%= f.label :current_streak %><br />
    <%= f.text_field :current_streak %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
