<p id="notice"><%= notice %></p>

<p>
  <b>Full name:</b>
  <%= @college_player.full_name %>
</p>

<p>
  <b>Position:</b>
  <%= @college_player.position %>
</p>

<p>
  <b>College:</b>
  <%= @college_player.college %>
</p>

<p>
  <b>Height:</b>
  <%= @college_player.height %>
</p>

<p>
  <b>Arm length:</b>
  <%= @college_player.arm_length %>
</p>

<p>
  <b>Weight:</b>
  <%= @college_player.weight %>
</p>

<p>
  <b>Hands:</b>
  <%= @college_player.hands %>
</p>

<p>
  <b>Comparison:</b>
  <%= @college_player.comparison %>
</p>

<p>
  <b>Strengths:</b>
  <%= @college_player.strengths %>
</p>

<p>
  <b>Weakness:</b>
  <%= @college_player.weakness %>
</p>

<p>
  <b>Forty dash:</b>
  <%= @college_player.forty_dash %>
</p>

<p>
  <b>Vert jump:</b>
  <%= @college_player.vert_jump %>
</p>

<p>
  <b>Broad jump:</b>
  <%= @college_player.broad_jump %>
</p>

<p>
  <b>Three yd cone:</b>
  <%= @college_player.three_yd_cone %>
</p>

<p>
  <b>Twenty yd shuttle:</b>
  <%= @college_player.twenty_yd_shuttle %>
</p>

<p>
  <b>Sixty yd shuttle:</b>
  <%= @college_player.sixty_yd_shuttle %>
</p>

<p>
  <b>Draft round:</b>
  <%= @college_player.draft_round %>
</p>

<p>
  <b>Bench:</b>
  <%= @college_player.bench %>
</p>

<p>
  <b>Draft pick:</b>
  <%= @college_player.draft_pick %>
</p>

<p>
  <b>Overview:</b>
  <%= @college_player.overview %>
</p>

<p>
  <b>Espn overall rating:</b>
  <%= @college_player.espn_overall_rating %>
</p>

<p>
  <b>Cbs overall rating:</b>
  <%= @college_player.cbs_overall_rating %>
</p>

<p>
  <b>Espn position rating:</b>
  <%= @college_player.espn_position_rating %>
</p>

<p>
  <b>Cbs position rating:</b>
  <%= @college_player.cbs_position_rating %>
</p>

<p>
  <b>First name:</b>
  <%= @college_player.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%= @college_player.last_name %>
</p>

<p>
  <b>Overall draft position:</b>
  <%= @college_player.overall_draft_position %>
</p>


<%= link_to 'Edit', edit_college_player_path(@college_player) %> |
<%= link_to 'Back', college_players_path %>
