<p id="notice"><%= notice %></p>

<p>
  <b>Game tv:</b>
  <%= @schedule.game_tv %>
</p>

<p>
  <b>Game score:</b>
  <%= @schedule.game_score %>
</p>

<p>
  <b>Game key:</b>
  <%= @schedule.game_key %>
</p>

<p>
  <b>Status:</b>
  <%= @schedule.status %>
</p>

<p>
  <b>Week:</b>
  <%= @schedule.week %>
</p>

<p>
  <b>Date:</b>
  <%= @schedule.date %>
</p>

<p>
  <b>Date time:</b>
  <%= @schedule.date_time %>
</p>

<p>
  <b>Date time est:</b>
  <%= @schedule.date_time_est %>
</p>

<p>
  <b>Day of week:</b>
  <%= @schedule.day_of_week %>
</p>

<p>
  <b>Month of year:</b>
  <%= @schedule.month_of_year %>
</p>

<p>
  <b>Time:</b>
  <%= @schedule.time %>
</p>

<p>
  <b>Type:</b>
  <%= @schedule.type %>
</p>

<p>
  <b>Nfl type:</b>
  <%= @schedule.nfl_type %>
</p>

<p>
  <b>Is current or next game:</b>
  <%= @schedule.is_current_or_next_game %>
</p>

<p>
  <b>Title:</b>
  <%= @schedule.title %>
</p>

<p>
  <b>Home team name:</b>
  <%= @schedule.home_team_name %>
</p>

<p>
  <b>Home team short name:</b>
  <%= @schedule.home_team_short_name %>
</p>

<p>
  <b>Home team abbr:</b>
  <%= @schedule.home_team_abbr %>
</p>

<p>
  <b>Home team:</b>
  <%= @schedule.home_team_id %>
</p>

<p>
  <b>Home team small helmet:</b>
  <%= @schedule.home_team_small_helmet %>
</p>

<p>
  <b>Home team large helmet:</b>
  <%= @schedule.home_team_large_helmet %>
</p>

<p>
  <b>Visitor team name:</b>
  <%= @schedule.visitor_team_name %>
</p>

<p>
  <b>Visitor team short name:</b>
  <%= @schedule.visitor_team_short_name %>
</p>

<p>
  <b>Visitor team abbr:</b>
  <%= @schedule.visitor_team_abbr %>
</p>

<p>
  <b>Visitor team:</b>
  <%= @schedule.visitor_team_id %>
</p>

<p>
  <b>Visitor team small helmet:</b>
  <%= @schedule.visitor_team_small_helmet %>
</p>

<p>
  <b>Visitor team large helmet:</b>
  <%= @schedule.visitor_team_large_helmet %>
</p>

<p>
  <b>Opponent team name:</b>
  <%= @schedule.opponent_team_name %>
</p>

<p>
  <b>Opponent team short name:</b>
  <%= @schedule.opponent_team_short_name %>
</p>

<p>
  <b>Game played at:</b>
  <%= @schedule.game_played_at %>
</p>

<p>
  <b>Outcome:</b>
  <%= @schedule.outcome %>
</p>

<p>
  <b>Visitor team point total:</b>
  <%= @schedule.visitor_team_point_total %>
</p>

<p>
  <b>Visitor team point q1:</b>
  <%= @schedule.visitor_team_point_q1 %>
</p>

<p>
  <b>Visitor team point q2:</b>
  <%= @schedule.visitor_team_point_q2 %>
</p>

<p>
  <b>Visitor team point q3:</b>
  <%= @schedule.visitor_team_point_q3 %>
</p>

<p>
  <b>Visitor team point q4:</b>
  <%= @schedule.visitor_team_point_q4 %>
</p>

<p>
  <b>Visitor team point ot:</b>
  <%= @schedule.visitor_team_point_ot %>
</p>

<p>
  <b>Home team point total:</b>
  <%= @schedule.home_team_point_total %>
</p>

<p>
  <b>Home team point q1:</b>
  <%= @schedule.home_team_point_q1 %>
</p>

<p>
  <b>Home team point q2:</b>
  <%= @schedule.home_team_point_q2 %>
</p>

<p>
  <b>Home team point q3:</b>
  <%= @schedule.home_team_point_q3 %>
</p>

<p>
  <b>Home team point q4:</b>
  <%= @schedule.home_team_point_q4 %>
</p>

<p>
  <b>Home team point ot:</b>
  <%= @schedule.home_team_point_ot %>
</p>

<p>
  <b>Score:</b>
  <%= @schedule.score %>
</p>

<p>
  <b>Phase:</b>
  <%= @schedule.phase %>
</p>

<p>
  <b>Clock:</b>
  <%= @schedule.clock %>
</p>

<p>
  <b>Is tie:</b>
  <%= @schedule.is_tie %>
</p>

<p>
  <b>Winner team:</b>
  <%= @schedule.winner_team_id %>
</p>

<p>
  <b>Pre game link:</b>
  <%= @schedule.pre_game_link %>
</p>

<p>
  <b>Post game link:</b>
  <%= @schedule.post_game_link %>
</p>


<%= link_to 'Edit', edit_schedule_path(@schedule) %> |
<%= link_to 'Back', schedules_path %>
