<h1>Listing player_stats</h1>

<table>
  <tr>
    <th>Year</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @player_stats.each do |player_stat| %>
  <tr>
    <td><%= player_stat.player.player_name %></td>
    <td><%= player_stat.year %></td>
    <td><%= player_stat.yds_per_att %></td>
    <td><%= link_to 'Show', player_stat %></td>
    <td><%= link_to 'Edit', edit_player_stat_path(player_stat) %></td>
    <td><%= link_to 'Destroy', player_stat, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Player stat', new_player_stat_path %>
