<p id="notice"><%= notice %></p>

<p>
  <b>Player name:</b>
  <%= @player.name %>
</p>

<p>
  <b>Player no:</b>
  <%= @player.no %>
</p>

<p>
  <b>Player pos:</b>
  <%= @player.pos %>
</p>

<p>
  <b>Player height:</b>
  <%= @player.height %>
</p>

<p>
  <b>Player weight:</b>
  <%= @player.weight %>
</p>

<p>
  <b>Player age:</b>
  <%= @player.age %>
</p>

<p>
  <b>Player exp:</b>
  <%= @player.exp %>
</p>

<p>
  <b>Player college:</b>
  <%= @player.college %>
</p>

<p>
  <b>Player last name:</b>
  <%= @player.last_name %>
</p>

<p>
  <b>Player first name:</b>
  <%= @player.first_name %>
</p>

<p>
  <b>Player nick name:</b>
  <%= @player.nickname %>
</p>


<%= link_to 'Edit', edit_player_path(@player) %> |
<%= link_to 'Back', players_path %>
