<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @podcast.title %>
</p>

<p>
  <b>Author:</b>
  <%= @podcast.author %>
</p>

<p>
  <b>Link:</b>
  <%= @podcast.link %>
</p>

<p>
  <b>Duration:</b>
  <%= @podcast.duration %>
</p>

<p>
  <b>Description:</b>
  <%= @podcast.description %>
</p>

<p>
  <b>Pubdate:</b>
  <%= @podcast.pubDate %>
</p>


<%= link_to 'Edit', edit_podcast_path(@podcast) %> |
<%= link_to 'Back', podcasts_path %>
